html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

html,
body,
div,
span,
a,
h1,
h2,
h3, 
h4,
h5,
h6,
p ,
ul{
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; 
}
ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    
}
body {
    font-family: 'Quicksand', sans-serif;
    background: #fcfcfc;
}


.navbar{
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 50px;
    width: 100%;
    top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 900;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1) !important;
}
main .container{
    margin: 0 auto;
    width: 85%;
    padding: 30px 0;
    margin-top: 30px;
}
main .row{
    flex-wrap: wrap;
}

.available-ride .box,
.available-ride .card{
    background: #eee;
    height: 150px;
    width: 100%;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
}



/* DESKTOP */

@media screen and (min-width: 769px) {
    #sidebar,
    #toggle-btn{
        display: none;
    }
    .span-user{
        display: flex;
        justify-content: space-between;
    }
    .span-user img{
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    .span-user p{
        font-size: 15px;
        font-weight: 600;
        margin-right: 10px;
        margin-top: 18px;
    }
    .span-user .btn{
        box-shadow: none;
        background: #fff;
        color: #333;
    }

    #home{
        color: #1a1a1a;
        font-weight: 600;
    }
    .dropdown-menu a{
        font-weight: 600 !important;
    }
    .dropdown-menu a:hover{
        color: #d7b04f !important;
    }
}


/* VIEW PROFILE */
.view-profile img{
    height: 200px;
    width: auto;
}
.view-profile .name{
    text-align: center;
}


/* MOBILE */
@media (max-width: 768px){
    .navbar{
        position: fixed;
    }
    .navbar #sidebar{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
        background: #1a1a1a;
        text-align: center;
        transform-origin: left;
        transform: perspective(1200px) rotateY(90deg);
        transition: all 400ms ease;
    }
    .navbar #sidebar ul{
        margin-top: 40px;
    }
    .navbar #sidebar ul li {
        font-size: 17px;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #222222;
        line-height: 50px;
    }
    .navbar #sidebar a{
        color: #ccc;
    }
    .navbar #sidebar.active{
        transform: perspective(1200px) rotateY(0deg);
    }
    .navbar #sidebar img{
        height: 70px;
        width: 70px;
    }
    .navbar #sidebar h3{
        color: #ccc;
        font-size: 20px;
    }
    .navbar #sidebar p{
        font-size: 15px;
        color: #ccc;
        margin-bottom: 30px;
    }
    .navbar #toggle-btn{
        position: absolute;
        left: 30px;
        top: 8px;
        transition:  left 200ms linear 0ms,transform 300ms ease 100ms;
    }
    .navbar #toggle-btn.active {
        left: 230px;
        transform: rotate(360deg);
    }
    .navbar #toggle-btn span{
        position: relative;
        top: 0;
        display: block;
        background: #1a1a1a;
        width: 25px;
        height: 5px;
        margin:  5px 0px;
        cursor: pointer;
        transition: transform 300ms ease 200ms;
    }
    .navbar #toggle-btn.active span:nth-child(1){
        top: 10px;
        transform: rotate(45deg);
    }
    .navbar #toggle-btn.active span:nth-child(2){
        opacity: 0;
    }
   .navbar  #toggle-btn.active span:nth-child(3){
        top: -10px;
        transform: rotate(-45deg);
    }
    .span-user p,
    .span-user .dropdown,
    #home{
        display: none;
    }
    .span-user img{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 10px;
        right: 30px;
    }

    /*MAIN*/
    
}