#intro {
    background: lightgrey;
    height: 300px;
}

.ride-cost{
	padding: 40px 0;
}
.ride-cost h3{
	font-weight: 600;
	font-size: 25px;
}
.ride-cost p{
	margin-top: 10px;
	color: grey;
	font-size: 20px;
}
.ride-cost .card{
	height: 120px;
	margin-bottom: 40px;
}
.ride-cost .card img{
	height: 70px;
	width: 70px;
	margin-top: 10px;
}
.ride-cost .card .text h3{
	font-size: 12px;
}
.ride-cost .card .text p{
	font-size: 10px;
	margin-top: -1px;
	color: #000;
}
.ride-cost .card .text .time{
	font-size: 20px;
}
.ride-cost .card .text b{
	font-size: 25px;
}
.ride-cost .card .text .button{
	background: #754bbf;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	height: 40px;
	width: 90px;
	font-size: 10px;
}

@media(max-width: 767px){
	#intro{
		height: 250px;
	}
	.ride-cost h3{
		font-size: 18px;
	}
	.ride-cost p{
		font-size: 15px;
	}
	.ride-cost .card{
		height: 120px;
		margin-bottom: 20px;
	}
	.ride-cost .card img{
		height: 50px;
		width: 50px;
	}
	.ride-cost .card .text .time{
		font-size: 12px;
	}
}

@media(max-width: 990px) and (min-width: 768px){
	.ride-cost .card .text .time{
		font-size: 10px;
	}
	.ride-cost .card .text .button{
		margin-left: -5px !important;
	}
}