html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html,
body,
#intro,
.view {
  height: 100vh; }

html,
body,
div,
span,
a,
h1,
h2,
h3, 
h4,
h5,
h6,
p ,
ul{
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; 
}
ul{
	list-style-type: none;
	
}
a{
    text-decoration: none;
    
}
body{
	font-family: 'Quicksand', sans-serif;
}
.container{
	margin: 0 auto;
	width: 90%
}
.span4{
	float: left;
	margin-left: 35px;
	display: block;
	width: 30%;
}
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #1a1a1a !important;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #d7b04f !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #d7b04f !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    font-weight: 500;
  }
  #mainNav .navbar-brand {
    color: #fff !important;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
    color: #fff !important;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #1a1a1a !important;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #1a1a1a !important;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #d7b04f !important;
  }
}
#intro{
	background: url('../../assets/img/downtown.jpg');
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	height: 500px;
	width: 100%;
}
.view h3{
	font-weight: 600;
	font-size: 50px;
}
.view input[type="text"]{
    padding: 20px;
    font-size: 15px;
    height: 45px;
    width: 60%;
    outline: none !important;
    border: none;
    margin-bottom: 20px;
  	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.65);
}
.view input[type="text"]::placeholder{
	font-size:13px;
}
.view .button{
	background: #5be060;
    color: #ffffff;
    padding-right: 40px;
    padding-left: 40px;
    font-size:16px;
    height:50px;
    margin-top: 20px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}
.view .button a{
	color: #ffffff;
}

section{
	padding: 50px 0;
}
.page-section{
	background: #fcfcfc;
}

.page-section .snippet{
	margin-top: 20px;
	text-align: center;
	padding: 50px 0;
}
.page-section .heading-title h2,
.page-section .snippet h3{
	font-weight: 600;
}
.page-section .heading-title h2{
	font-size: 40px;
}
.page-section .heading-title p,
.page-section .snippet p{
	margin-top: 10px;
	font-size: 17px;
}
.section{
	background: url('../../assets/img/how-it-works.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	height: 400px;
	width: 100%;
	color: #fff;
}
.section .billboard-how-it-works .steps {
    margin-top: 20px;
    color: #fff;
    }
.steps .step-number {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    opacity: 0.75;
   }
.steps .step-text{
	height: 150px;
}
.steps .step-text h3{
   	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}
.steps .step-text p{
	font-size: 15px;
}

footer{
	padding: 30px 0;
	text-align: center;
	font-weight: 600;
}


/* PAYMENT */


.body{
	margin-top: 50px;
}
.card{
	height: 400px;
}
.panel{
	margin: 0 auto;
	width: 80%;
}
.credit-card-box .panel-title{
	font-weight: bold;
	font-size: 20px;
}
.credit-card-box .from-control.error{
	border-color: red;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 	0, 	0.6);
}
.credit-card-box label.error{
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
.credit-card-box .payment-errors{
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
.credit-card-box .dispaly-table{
	display: table;
}
.credit-card-box .display-tr{
	display: table-row;
}
.credit-card-box .display-td{
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}
.credit-card-box .panel-heading img{
	min-width: 180px;
}





@media (max-width: 768px){
	#intro{
		height: 450px;
	}
	.view .container{
		margin-top: 50px;
	}
	.view h3{
		font-size: 35px;
	}
	.view input[type="text"]{
		width: 90%;
	}
	/*section*/
	
	.span4 {
	    display: block;
	    float: none;
	    width: 100%;
	    margin: 0;
	    margin-bottom: 10px;
	}
	.page-section .heading-title h2{
		font-size: 28px;
	}
	.section{
		height: 600px;
	}
	.steps .step-number{
		float: left;
		width: 30px;
		height: 30px;
		margin-bottom: 5px;
	}
	.steps .step-text{
		text-align: justify;
		margin-left: 50px;

	
}